<h1>Listing uploads</h1>

<%= link_to 'Upload a picture', new_upload_path %>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |picture| %>
  <tr>
    <td><%= image_tag picture.content %></td>
    <td><%= link_to 'Show', "/uploads/#{picture.to_param}" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload a picture', new_upload_path %>
