<div class="modal hide" id="modal-settings" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Settings</h3>
	</div>
	<div class="modal-body">
		<ul class="nav nav-tabs nav-stacked">
			<li><a href="#" class="text-large">Friends <i class="icon-chevron-right pull-right"></i></a></li>
			<li><a href="#" class="text-large">Account <i class="icon-chevron-right pull-right"></i></a></li>
			<li><a href="#" class="text-large">Tutorial <i class="icon-chevron-right pull-right"></i></a></li>
		</ul>
	</div>
</div>

<div class="modal hide" id="modal-create_game" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Let&#39;s play a game...</h3>
	</div>
	<div class="modal-body text-center">
		<a href="#" class="btn btn-large btn-info margin-right"><i class="icon-white icon-align-justify"></i> Write</a>
		<a href="#" class="btn btn-large btn-info"><i class="icon-white icon-pencil"></i> Draw</a>
	</div>
</div>