<div class="navbar navbar-fixed-top">
	<nav class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span1">
					<button class="btn btn-info" type="button" data-toggle="modal" data-target="#modal-settings">
						<i class="icon-white icon-wrench"></i>
					</button>
				</div>

				<div class="span10 margin-no-bottom lead text-center">What The?</div>

				<div class="span1">
					<button class="btn btn-info" type="button" data-toggle="modal" data-target="#modal-create_game">
						<i class="icon-white icon-plus"></i>
					</button>
				</div>
			</div>
		</div>
	</nav>
</div>